<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SAH Healthcare</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">  
</head>
<body>
	<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Saint Acutis Hospital</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Sign in</a></li>
      </ul>
    </header>
  </div>
  <div class="container">
    <h1 class="text-center mt-5">Welcome to the Saint Acutis Hospital web app!</h1>
    <blockquote class="blockquote text-center">
      <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer mt-2">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>  
  </div>
</body>