<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - Back Office</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">    
</head>
<style>
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #6c757d;
    }
</style>
<body class="text-center">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Saint Acutis Hospital</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
        <li class="nav-item"><a href="/login" class="nav-link active" aria-current="page">Sign in</a></li>
      </ul>
    </header>
  </div>
  <div class="container">
    <div>
      <h1 class="h1 text-center mb-3 fw-normal">Back Office</h1>
      <h3 class="h3 mb-3 fw-normal">Sign in</h3>
    </div>
    <% if (messages.error) { %>
      <p class="mt-5 mb-3" style="color: red;">Error: <%= messages.error %></p>
    <% } %>
    <main class="form-signin">
      <form action="/login" method="POST" class="form-signin">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Enter your email" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Enter your password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <button class="mt-2 w-50 btn btn-lg btn-secondary" type="submit">Sign in</button>
        <!-- Register buttons -->
        <div>
          <p class="mt-5 lead">Not a member? <a href="/register">Register</a></p>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; SAH Healthcare 2020-2023</p>
      </form>
    </main>
  </div>
</body>