<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">    
</head>
<style>
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #6c757d;
    }
</style>
<body>
	<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Saint Acutis Hospital</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/doctor/profile" class="nav-link active">Profile</a></li>
        <li class="nav-item"><a href="/doctor/analysis" class="nav-link" aria-current="page">Analysis</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Sign out</a></li>
      </ul>
    </header>
  </div>
  <div class="container">
    <div>
      <h1 class="mt-5 fw-normal">
        Dr. <%= user.name %>'s Profile
      </h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center mt-5">
    <div class="col-lg-8 text-center">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= user.name %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= user.email %></p>
            </div>
          </div>
      </div>
    </div>
</body>