<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - Back Office</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">  
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Saint Acutis Hospital</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Sign in</a></li>
      </ul>
    </header>
  </div>
  <div class="container">
    <div>
      <h1 class="h3 mb-3 fw-normal">Register new user</h1>
    </div>
    <main class="form-signin">
      <form action="/register" method="POST">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Enter your name" required>
          <label for="floatingInput">Name
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Enter your email" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Enter your password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <button class="mt-2 w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; SAH Healthcare 2020-2023</p>
      </form>
    </main>
  </div>
</body>